html {
  overflow-y: scroll;
}

:root {
  --black: #092327;
  --white: #FFFFFF;
  --gray: #383838;
  --red: #D84727;
  --green: #85CB33;
  --blue: #4A8FE7;
  --yellow: #ECDD09;
}

body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
  font: 14px/1.5 monospace;
  color: var(--white);
  background: var(--black);
}

a {
  text-decoration: none;
}

a:hover {
  padding: 1px;
  border: 1px solid var(--green);
}

a:link {
  color: var(--red);
}

a:visited {
  color: var(--red);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

p > code {
  color: var(--white);
  background: var(--gray);
  padding: 2px;
}

pre {
  color: var(--white);
  background: var(--gray);
  padding: 24px;
  overflow-x: auto;
}

article {
  padding: 24px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

figcaption {
  color: var(--gray);
  font: 12px/1.5 monospace;
  text-align: center;
}

figure {
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.date-time {
  color: var(--yellow);
}

.title {
  font-size: 22px;
}
